<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.inspur.goods.dao.GoodsMapper">
    <resultMap id="BaseResultMap" type="com.inspur.goods.DO.Goods">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="goods_code" property="goodsCode" jdbcType="VARCHAR"/>
        <result column="goods_size" property="goodsSize" jdbcType="VARCHAR"/>
        <result column="sale_price" property="salePrice" jdbcType="REAL"/>
        <result column="purchase_price" property="purchasePrice" jdbcType="REAL"/>
        <result column="size" property="size" jdbcType="INTEGER"/>
        <result column="supplier_id" property="supplierId" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="entityResultMap" extends="BaseResultMap" type="com.inspur.goods.DO.Goods">
        <association property="supplier" javaType="com.inspur.supplier.DO.Supplier" columnPrefix="post_">
            <result column="id" property="id" jdbcType="VARCHAR"/>
            <result column="supplier_name" property="supplierName" jdbcType="VARCHAR"/>
            <result column="contact_person" property="contactPerson" jdbcType="VARCHAR"/>
            <result column="phone" property="phone" jdbcType="VARCHAR"/>
            <result column="remark" property="remark" jdbcType="LONGVARCHAR"/>
        </association>
    </resultMap>


    <insert id="insert" parameterType="com.inspur.goods.DO.Goods">
    insert into goods (id, goods_name, goods_code,
      goods_size, sale_price, purchase_price,
      size, supplier_id)
    values (#{id,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, #{goodsCode,jdbcType=VARCHAR},
      #{goodsSize,jdbcType=VARCHAR}, #{salePrice,jdbcType=REAL}, #{purchasePrice,jdbcType=REAL},
      #{size,jdbcType=INTEGER}, #{supplierId,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.inspur.goods.DO.Goods">
        insert into goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="goodsName != null">
                goods_name,
            </if>
            <if test="goodsCode != null">
                goods_code,
            </if>
            <if test="goodsSize != null">
                goods_size,
            </if>
            <if test="salePrice != null">
                sale_price,
            </if>
            <if test="purchasePrice != null">
                purchase_price,
            </if>
            <if test="size != null">
                size,
            </if>
            <if test="supplierId != null">
                supplier_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="goodsName != null">
                #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsCode != null">
                #{goodsCode,jdbcType=VARCHAR},
            </if>
            <if test="goodsSize != null">
                #{goodsSize,jdbcType=VARCHAR},
            </if>
            <if test="salePrice != null">
                #{salePrice,jdbcType=REAL},
            </if>
            <if test="purchasePrice != null">
                #{purchasePrice,jdbcType=REAL},
            </if>
            <if test="size != null">
                #{size,jdbcType=INTEGER},
            </if>
            <if test="supplierId != null">
                #{supplierId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.inspur.goods.DO.Goods">
        UPDATE goods
        <trim prefix="set" suffixOverrides=",">
            <if test="goodsName!=null">goods_name=#{goodsName,jdbcType=VARCHAR},</if>
            <if test="goodsCode!=null">goods_code=#{goodsCode,jdbcType=VARCHAR},</if>
            <if test="goodsSize!=null">sale_price=#{goodsSize,jdbcType=VARCHAR},</if>
            <if test="salePrice!=null">sale_price=#{salePrice,jdbcType=REAL},</if>
            <if test="purchasePrice!=null">purchase_price=#{purchasePrice,jdbcType=REAL},</if>
            <if test="size!=null">size=#{size,jdbcType=INTEGER},</if>
            <if test="supplierId!=null">supplier_id=#{supplierId,jdbcType=VARCHAR},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <select id="listGoods" resultMap="entityResultMap">
        select
        a.id, a.goods_name, a.goods_code,a.goods_size, a.sale_price, a.purchase_price, a.size, a.supplier_id,
        b.id post_id, b.supplier_name post_supplier_name, b.contact_person post_contact_person, b.phone post_phone,
        b.remark post_remark
        from goods a,supplier b where a.supplier_id=b.id
        <if test="goodsName != null and goodsName != ''">
            and a.goods_name = #{goodsName,jdbcType=VARCHAR}
        </if>
        <if test="goodsCode != null and goodsCode != ''">
            and a.goods_code = #{goodsCode,jdbcType=VARCHAR}
        </if>
        <if test="supplierId != null and supplierId != ''">
            and a.supplier_id = #{supplierId,jdbcType=VARCHAR}
        </if>
    </select>

    <delete id="deleteById">
         delete from goods where id = #{id}
    </delete>

    <select id="getById" resultMap="entityResultMap">
        select
        a.id, a.goods_name, a.goods_code,a.goods_size, a.sale_price, a.purchase_price, a.size, a.supplier_id,
        b.id post_id, b.supplier_name post_supplier_name, b.contact_person post_contact_person, b.phone post_phone,
        b.remark post_remark
        from goods a,supplier b where a.supplier_id=b.id

        <if test="id != null and id != ''">
            and a.id =#{id}
        </if>

    </select>
</mapper>